<header>
    <nav>
      <div class="logo">Clinic Management</div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/patients">Patients</a></li>
        <li><a href="/appointments">Appointments</a></li>
      </ul>
    </nav>
  </header>